<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <ul class="footer-list">
            <li>
                <a href="#" class="footer-link">Facebook</a>
            </li>
            <li>
                <a href="#" class="footer-link">Twitter</a>
            </li>
            <li>
                <a href="#" class="footer-link">Instagram</a>
            </li>
        </ul>
        <ul class="footer-list footer-second-list">
            <li>
                <a href="#" class="footer-link">About Us</a>
            </li>
            <li>
                <a href="#" class="footer-link">Contact Us</a>
            </li>
            <li>
                <a href="#" class="footer-link">Our Products</a>
            </li>
        </ul>
    </footer>
    
</body>
</html>