<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Tecnico/Practica4/dist/output.css">
    <title>aside</title>
</head>
<body>

    <div class="lg:grid lg:grid-cols-2 justify-items-end">
        <div class="lg:max-w-5xl lg:text-justify lg:border-r-2 lg:border-solid lg:border-gray-300 lg:block">
            <p class="pl-3">Autor Morales</p>
            <p>Fecha 1/1/2077</p>
            <img src="/Tecnico/Practica4/src/images/volcan.jpeg" alt="volcan" class="image ">
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla ipsum sunt sapiente nemo, exercitationem dignissimos maiores autem cumque voluptatem est consequuntur quo, fugit tempore enim, veritatis porro vel temporibus? Accusamus culpa provident consequuntur corporis impedit voluptates eos, officia quam dolor quo cumque reiciendis nostrum. Maxime dolore, consequatur maiores incidunt illo omnis.</p>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa provident consequuntur corporis impedit voluptates eos, officia quam dolor quo cumque reiciendis nostrum. Maxime dolore, consequatur maiores incidunt illo omnis.</p>
            <img src="/Tecnico/Practica4/src/images/volcan2.jpeg" alt="volcan" class="image">
        </div>

        <aside class="justify-self-start lg:max-w-sm">
         <h3 class="text-xl mt-15 font-bold ml-1 w-auto">Ultimas Noticias</h3>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
         <p class="last-new">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ducimus?</p>
        </aside>

    </div>
</body>
</html>