<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Tecnico/Practica4/dist/output.css">
    <link rel="stylesheet" href="/Tecnico/Practica4/src/input.css">
    <title>notice</title>
</head>
<body>
    <div class="lg:w-3/5 lg:text-justify lg:border-r-2 lg:border-solid lg:border-gray-300 lg:block">
        <p class="pl-3">Autor Morales</p>
        <p>Fecha 1/1/2077</p>
        <img src="/Tecnico/Practica4/src/images/volcan.jpeg" alt="volcan" class="image ">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nulla ipsum sunt sapiente nemo, exercitationem dignissimos maiores autem cumque voluptatem est consequuntur quo, fugit tempore enim, veritatis porro vel temporibus? Accusamus culpa provident consequuntur corporis impedit voluptates eos, officia quam dolor quo cumque reiciendis nostrum. Maxime dolore, consequatur maiores incidunt illo omnis.</p>
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus culpa provident consequuntur corporis impedit voluptates eos, officia quam dolor quo cumque reiciendis nostrum. Maxime dolore, consequatur maiores incidunt illo omnis.</p>
        <img src="/Tecnico/Practica4/src/images/volcan2.jpeg" alt="volcan" class="image">
    </div>
</body>
</html>