.col-nav{
 margin-right: 30vw;
}

.nav-bar{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}
.nav-logo{
    max-width: 100px;
}


.nav-logo-text{
    color: black;
    font-size: 50px;
    
}

.nav-item{
    margin-top: 2vh;
}
iframe{
    width: 100vw;
    height: 70vh;
}

.footer-image{
    max-width: 30px;
}



